:root {
    --dark: #151675;
    --light: #2024ee;
}

header {
	text-align: center;
	color: white;
	padding: 20px;
	background: linear-gradient(to left,var(--dark) 47%, var(--light) 100%);
}

.card{
    background: var(--dark);
  border: 2px solid var(--dark);
  color: beige;
  }